<widget id="com.straightenup.app" 
  xmlns="http://www.w3.org/ns/widgets" 
  xmlns:cdv="http://cordova.apache.org/ns/1.0" version="0.0.1.2">
  <name>StraightenUp</name>
  <description>A sample Apache Cordova application that responds to the deviceready event.</description>
  <icon src="img/logo.png"/>
  <rim:splash src="img/splash-600x1024.png"/>
  <rim:splash src="img/splash-768x1280.png"/>
  <rim:splash src="img/splash-1024x600.png"/>
  <rim:splash src="img/splash-1280x768.png"/>
  <access origin="*" subdomains="true"/>
  <access origin="http://54.88.20.251/" subdomains="true"/>
  <access origin="http://chiropractic.ca/" subdomains="true"/>
  <feature id="blackberry.invoked" required="true" version="1.0.0.0"/>
  <feature id="blackberry.invoke" required="true" version="1.0.0.0"/>
  <rim:invoke-target id="com.test.Notify">
    <type>APPLICATION</type>
    <filter>
      <action>bb.action.OPEN</action>
      <mime-type>text/plain</mime-type>
    </filter>
  </rim:invoke-target>
  <rim:permissions>
    <rim:permit>access_location_services</rim:permit>
    <rim:permit>post_notifications</rim:permit>
  </rim:permissions>
  <author email="dev@cordova.apache.org" href="http://54.88.20.251">Apache Cordova Team</author>
  <content src="index.html"/>
  <rim:transitionEffect type="slideOver" duration="20000" direction="left"/>
  <preference name="Orientation" value="portrait"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="DiskCache" value="enable"/>
  <preference name="SpatialNavigation" value="true"/>
</widget>